<div id="post-<%= post.id %>">


  <span class="content"><%= post.content %></span><br>
  <br>

  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.first_name %>
  </span>
  <br>

  <span class="likes">
    <%= link_to "Like?", likes_path(:post_id => post.id) , method: :post %>
    <%= link_to "Likers(#{ post.likes.count })", "#likers" %>
  </span>
  <hr>

</div>