
<div id="post-<%= post.id %>">
  <h4>Post <%= post.id %></h4>
  <span class="content"><%= post.content %></span><br>
  <br>

  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.first_name %>
  </span>
  <br>

  <span class="likes">
    <%= render 'likes/like_button', post: post %>
    <%= render 'likes/likers', post: post %>
  </span>


  <span class= "comments">
    <%= render partial: 'comments/comment', collection: post.comments %>
  </span>

<hr>

</div>

