<h1><%= @user.first_name %>'s Profile page!</h1>

Full Name: <%= @user.first_name %> <%= @user.last_name %>

<hr>

<h3>My friends:</h3>

  <p>
    <h5>Real Friends:</h5>
    <% @user.real_friends.each do |friend| %>
      <%= friend.first_name %>
    <% end %>
  </p>

    <p>
    <h5>Sham Friends:</h5>
    <% @user.kinda_friends.each do |fake| %>
      <%= fake.first_name %>
    <% end %>
  </p>

  <hr>

<h3>My friend requests:</h3>

  <p>
    <% if current_user == @user %>
        <h4>Friend Requests</h4>
        <ul>
            <% @user.requested_friendships.each do |request| %>
            <li>
              <%= request.email %>
              <%= link_to "Accept", friendship_path(:id => request), :method => "put" %>
              <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
            </li>
          <% end %>
        </ul>
    <% end %>
  </p>

  <hr>

  <div class="col-md-8">
    <% if @user.posts.any? %>

      <h3>My Posts: (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <% # will paginate @posts %>
    <% end %>
  </div>