<h1><%= @user.first_name %>'s Profile page!</h1>

<%= gravatar_for @user %><br>

Full Name: <%= @user.first_name %> <%= @user.last_name %>

<hr>

  <p>
    <% if current_user == @user && !@user.friend_requests.empty? %>
      <h3>My friend requests:</h3>
        <ul>
            <% @user.friend_requests.each do |request| %>
            <li>
              <%= User.find(request.user_1_id).first_name %>

              <%= link_to "Accept", friendship_path(:id => request), :method => "put" %>
              <%= link_to "Decline", friendship_path(:id => request), :method => "delete" %>
            </li>
          <% end %>
        </ul>
    <% end %>
  </p>



<h3>My friends:</h3>

<% @user.friends.each do |friend| %>
  <li><%= friend.first_name%> <%= friend.last_name %></li>
<% end %>

  <hr>





  <div class="col-md-8">
    <% if @user.posts.any? %>

      <h3>My Posts: (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
       <!-- # will paginate @posts -->
    <% end %>
  </div>