<h1><%= @user.first_name %>'s Profile page!</h1>

Full Name: <%= @user.first_name %> <%= @user.last_name %>



  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <% # will paginate @posts %>
    <% end %>
  </div>